# FastAPI y Servidor ASGI
fastapi==0.111.0
uvicorn==0.29.0

# Socket.IO y su motor (versiones compatibles)
python-socketio==5.11.2
python-engineio==4.9.1

# LangChain
langchain

langchain-openai
python-dotenv

# Es necesario para que FastAPI maneje el CORS correctamente
python-multipart