# FastAPI y Servidor ASGI
fastapi==0.111.0
uvicorn==0.29.0

# Socket.IO y su motor (versiones compatibles)
python-socketio==5.11.2
python-engineio==4.9.1

# LangChain
langgraph>=0.5.2
langchain>=0.1.17
langchain-openai>=0.1.8

python-dotenv

# Es necesario para que FastAPI maneje el CORS correctamente
python-multipart